body {
  margin: 0px;
  border: 0px;
  font-family: "Open Sans", sans-serif;
}
#home {
  width: 100%;
  margin: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 1350px;
  background-image: url(images/source.gif);
  background-position: center;
  background-size: cover;
  padding: 8px;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgba(61, 70, 122, 0.842);
  padding: 8px;
  z-index: 1;
}
.sabit-header {
  position: fixed;
  top: -10px;
  left: 0px;
  width: 100%;
  background: rgb(255, 255, 255);
  z-index: 1;
}

nav {
  margin-left: 340px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 0;
}
/* nav ul li  */
.nav-li {
  display: inline-block;
  list-style-type: none;
  font-size: 20px;
}
.nav-li-new {
  display: inline-block;
  list-style-type: none;
  font-size: 20px;
}

.nav-a {
  /* nav > ul > li > a */
  color: white;
  display: block;
  line-height: 40px;
  padding: 0 12px;
  text-decoration: none;
}

.nav-a-sabit {
  color: rgba(61, 70, 122, 0.842);
  display: block;
  line-height: 40px;
  padding: 0 12px;
  text-decoration: none;
}
.nav-li:hover {
  background-color: white;
  border-radius: 20px;
}
.nav-li-new:hover {
  background-color: rgba(61, 70, 122, 0.842);
  border-radius: 20px;
}

.nav-li:hover > a {
  color: rgba(61, 70, 122, 0.842);
}
.nav-li-new:hover > a {
  color: white;
}

#container-content {
  width: 600px;
  margin: auto;
  margin-top: 10%;
}
#container-content h1,
p {
  margin: auto;
  color: white;
}
#container-content h1 {
  font-size: 50px;
}
#container-content p {
  font-size: 20px;
}
button {
  margin-top: 20px;
  background-color: black;
  border-radius: 15px;
  color: white;
}
button img {
  height: 55px;
  align-content: center;
}
#header-images {
  margin-top: 150px;
}
#header-images img {
  border-style: groove;
  border-width: 12px;
  border-color: white;
  margin-left: 8px;
}

/* abut */
#about {
  width: 100%;
  margin: 0px;
  left: 0px;
  right: 0px;
  height: 900px;
  background-color: white;
}
#about-title {
  margin-top: 60px;
  color: rgba(61, 70, 122, 0.842);
}
#about-paragraph {
  margin-top: 10px;
  color: orangered;
}
#about-content-paragraph,
#about-content-text {
  margin-left: 20px;
  color: black;
}
#about-content-text p {
  margin-left: 20px;
  color: black;
  font-size: 20px;
}
#about-content-text p2 {
  margin-left: px;
  color: orangered;
  font-size: 20px;
}
#about-content-text button {
  height: 50px;
  width: 150px;
  border-radius: 60px;
  margin-left: 20px;
  background-color: rgba(61, 70, 122, 0.842);
  font-size: 200px;
}
#about-content-text button:hover {
  height: 50px;
  width: 150px;
  border-radius: 60px;
  margin-left: 20px;
  background-color: steelblue;
  font-size: 20px;
}
#features-title h1 {
  margin-top: 120px;
  margin-left: 20px;
  color: rgba(61, 70, 122, 0.842);
  font-size: 50px;
}
#features-title p {
  margin-left: 20px;
  color: orangered;
  font-size: 18px;
}
#features-features h1 {
  margin-top: 0px;
  margin-left: 20px;
  color: rgba(61, 70, 122, 0.842);
  font-size: 30px;
}
#features-features p {
  margin-left: 20px;
  color: black;
}
#features-images {
  margin-top: 150px;
}
#features-images img {
  border-style: solid;
  border-width: 12px;
  border-color: white;
  margin-left: 8px;
}
#screenshots-images {
  margin-top: 80px;
}
#screenshots-images img {
  border-style: solid;
  border-width: 12px;
  border-color: white;
  margin-left: 8px;
}
#buy-button {
  height: 50px;
  width: 200px;
  border-radius: 60px;
  background-color: rgba(61, 70, 122, 0.842);
  font-size: 18px;
  margin-left: 45px;
}
::placeholder {
  color: white;
  font-size: 16px;
}
#buy {
  background-image: url(images/buyedd6.png);
  background-position: center;
  background-size: cover;
  padding: 3px;
}
#buy h2 {
  color: darkorange;
  margin-top: 80px;
  font-size: 35px;
}
